 :root {
        --background: #0D1117;
        --color_two: #161B22;
        --color_three: #bdc6d2;
        --color_four: #E6EDF3;
        --accent: #b5d0e5;
        --error: #FF4C4C;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        background-color: var(--background);
        padding: 2rem;
        font-family: 'Segoe UI', sans-serif;
        color: var(--color_four);
    }

    #form {
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        background-color: var(--color_two);
        position: relative;
        margin-bottom: 2rem;
        border-radius: 10px;
        overflow: hidden;
    }

    #search {
        background-color: transparent;
        border: none;
        padding: 1rem;
        color: var(--color_four);
        width: 100%;
        font-size: 1rem;
    }

    #search:focus {
        outline: none;
    }

    #search-btn {
        padding: 1rem;
        background-color: var(--accent);
        color: white;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    #search-btn:hover {
        background-color: #4383b8;
    }

    .card {
        max-width: 700px;
        margin: 2rem auto;
        background-color: var(--color_two);
        border-radius: 20px;
        padding: 2rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    }

    .user-image {
        width: 150px;
        height: 150px;
        margin: 0 auto 1rem;
        border-radius: 50%;
        border: 3px solid var(--accent);
    }

    .user-name h2 {
        font-size: 2rem;
        color: white;
        text-align: center;
    }

    .user-bio,
    .user-details {
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
        color: var(--color_three);
    }

    .stats {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 1rem;
        flex-wrap: wrap;
    }

    .stat-item {
        background-color: var(--background);
        padding: 1rem;
         color:white;
        border-radius: 12px;
        font-size: 1.1rem;
        color: var(--color_three);
        text-align: center;
        min-width: 100px;
        transition: 0.3s;
    }

    .stat-item:hover {
        color: var(--color_four);
        background-color: #1f242d;
    }


    .repo-header{color: white;}

    .repo-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .repo-item {
        background-color: var(--background);
        padding: 1rem;
        border-radius: 10px;
        transition: all .2s ease-in-out;
        display: flex;
        flex-direction: column;
    }

    .repo-item:hover {
        background-color: #1f242d;
    }

    .repo-name a {
        color: var(--accent);
        font-weight: bold;
        font-size: 1.1rem;
        text-decoration: none;
    }

    .repo-desc {
        font-size: 0.95rem;
        margin: 0.5rem 0;
        color: var(--color_three);
    }

    .repo-stats {
        display: flex;
        gap: 1rem;
        font-size: 0.9rem;
        color: var(--color_three);
    }

    .hidden-repo {
        display: none;
    }

    .show-more-btn {
        background-color: transparent;
        color: var(--color_three);
        border: 1px solid var(--color_three);
        padding: 0.5rem 1rem;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 1.5rem;
        transition: all .3s;
    }

    .show-more-btn:hover {
        color: var(--color_four);
        border-color: var(--color_four);
    }

    .error-message {
        color: var(--error);
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
    }